#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#header {
    color: navy;
}

#w2 {
    text-align: center;
    color: dodgerblue;
}

.button {
    text-align: center;
    color: white;
    background-color: dodgerblue;
}

#random-fact-container {
  margin-top: 20px;
}
